body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

h1 {
    color: darkblue;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 10px;
    border-radius: 5px;
}
